* {
  box-sizing: border-box
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
  /* width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0; */
  /* display: inline-block; */
  /* border: none;
  background: #f1f1f1; */
  border: none;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.pb-container {
  display: inline-block;
  text-align: center;
  width: 0%;
}

.pb-container .pb-button {
  padding: 0px 0px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  height: 54px;
  width: 80px;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  transition: background-color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s, border-radius 0.3s;
}

.pb-container .pb-button span {
  display: inherit;
  transition: opacity 0.3s 0.1s;
  font-size: 14px;
  font-weight: 400;
}

.pb-container.loading .pb-button {
  width: 80px;
  border-width: 0px;
  border-color: #ddd;
  cursor: wait;
  background-color: #337ab7;
  padding: 0;
}